*{
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
}



body{
    display:grid;
    height: 100vh;
    grid-template: auto;
    font-family: "Rubik", sans-serif ;
    font-weight: 300;
} 

header{
    background-color: deeppink;
    padding: 2rem;
    grid-column: auto;
}