
* {
    margin: 0;
    padding: 0;
    
}


.header {
    text-align: center;
    padding: 20px;
    position: fixed;
}

nav li{
    float: left;
}

nav a{
    display: block;
    padding: 20px;
    background-color:rgb(238, 130, 238);
}


body {
    background-image: linear-gradient(lightpink, lightblue);
    font-family: 'Roboto', sans-serif;
    border-style: solid;
    border-width: medium;
    font-size: 17px;
    line-height: 1.6;
    color: black;
    
} 
/* -----------------------Hero Image--------------*/

.hero-image{
    height: 50%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
} 
.hero{
    width: 100%;
}




.join-button {
    display: inline-block;
    position:absolute;  
    top: 20px;
    left:20px;
    padding: 10px 20px;
    background-color: lightpink;
    color: #fff;
    border: none;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.join-button:hover {
    background-color: aqua;
}

/*------------------ Hamburger Button-----------*/
nav{
    background-color: lightgrey;
} 

#Button::before{
    content:"\2630";
}

#Button{
    font-size: 2rem;
    background: none;
    border: none;
    color: black;
    cursor: pointer;
    width: 44px;
    text-align: right;
    padding: .25rem .2vw;
    position: absolute; 
    top: 0;
    right: 2vw;
} 

ul.menuLinks li a{
    font-family: sans-serif;
    display: block;
    padding: .75rem 2vw;
    color: white;
    text-decoration: none;
} 

li.current-menu-items{
    color:lightpink;
}

li.current-menu-items a{
    background-color: rgba(0, 0, 0, 0.2);
}

ul.menuLinks{
    display: none;
    list-style-type: none;
}


/* CSS for the open class*/
#Button.open::before{
    content: "X";
} 

ul.open.menuLinks{
    display: block;
} 

/* -------- Event section--------*/

main{
    margin: 0 auto;
}






/* Spotlight Section */
.spotlight-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.spotlight {
    max-width: 300px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.spotlight img {
    max-width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

.spotlight h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.spotlight p {
    margin-bottom: 10px;
}

.spotlight a {
    display: grid;
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.spotlight a:hover {
    background-color: #0056b3;
}
