*{
    
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: block;
    place-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

main{
    margin: 0 auto;
    border: 1px solid rgba(0,0,0,0.1);
    background-color: rgba(200,200,255,0.3);
}
/*---------- Hero Section-----*/
.hero{
    color: white;
    text-align: center;
    padding: 100px 0;
}

.cta-button{
    display: inline-block;
    background-color: lightgrey;
    color: black;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 20px;
} 
.cta-button:hover{
    background-color: lightblue;
}

/*---- Call to Action----*/
.call-to-action{
    background-color: #f9f9f9;
    padding: 40px;
} 
/*---Current Events section--*/
.current-events{
    padding: 20px;
}

p{
    margin: 1rem;
}

.label{
    font-family: sans-serif;
    font-weight: 700;
}

#visits{
    color:#ed4983;
    font-weight: bolder;
    font-size: larger;
} 

.today{
    color:#f270a4;
}

nav{
   font-family: sans-serif;
   background-color:rgb(159, 63, 111);
} 

nav ul{
    display: flex;
    justify-content: space-between;
    text-align: center;
    list-style-type: none;
    
} 

nav ul a{
    text-decoration: none;
    color: black;

}

nav li a:hover{
    color:gray;
    
} 

main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 1rem;
    width: 770px;

}  

.label {
    display: block;
}
.Second-Column img{
    width:100%;
    height: 100%; 
    
    
}

.image{
    width: 180px;
    height: auto;
    transition: transform 0.3s ease-in-out;
    
}

.contrast{filter: contrast(60%);}
    
.gallery{
    display: grid;
    justify-content: center;
    gap: 40px;
}

.gallery-image{
    width: 300%;
    height: 500%;
    transition: transform 0.3s ease;
}

@media (max-width: 767px){
    .gallery-image{
        width: 100%;
        margin: 6px 0;
    }
}
.sidebar{
    width: 250px;
    background-color: #e78888;
    padding: 20px;
}
main section{
    border: 3px solid black;
}

/*----- CALENDER-------*/
.calender{
    font-family: "Arial", sans-serif;
    max-width: 600px;
    margin: 0 auto;
}
h2{
    text-align: center;
}

table{
    width: 100%;
    border-collapse: collapse;
} 


th{
    background-color: #f2f2f2;
} 

th, td{
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
} 

td{
    cursor: pointer;
} 

td:hover{
    background-color: rgb(198, 133, 226);
}




/* Weather */















/* Company Spotlights Section Styles */
.spotlight{
    max-width: 90%;
    margin: 0.5rem auto;
    grid-column: 1/-1;
}
#cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
} 

.member{
    margin: 1rem auto;
    border:3px solid black;
    padding:2rem;
    border-radius: 25px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(182,181,181,0.865);
} 

.member a{
    text-decoration: underline;
} 

.member img{
    max-width: 100%;
} 

.member p::first-line{
    font-weight:bold;
}

.spotlight a{
    color: lightpink;
}

@media(min-width:700px){
    #spot-head{
        display:block;
    }
} 

@media(min-width:900px){
    .events{
        grid-area:2/1/3/3;
        max-width: 80%;
    }
} 

.events img{
    max-width: 100%;
} 

.spotlight{
    grid-area: 3/1/4/4;
} 

.spotlight article{
    max-width: 30%;
}
/* Form*/

body{
    font-size: 15px;
    font-family: sans-serif;
} 

header{
    padding: .5rem 2%;
    background-color: rgb(195, 104, 233);
}
header h1{margin: 0;}
header h2
     {margin:0;
    font-weight: normal;
}

nav{
    background-color: rgb(247, 134, 194);
} 
nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
} 
nav ul li{border-bottom: solid 1px black;}
nav ul li a{
    display: block;
    background-color: lightgray;
    color:white;
    padding: .5rem 0;
    text-decoration: none;
    font-size: .9rem;
    text-align: center;
}

nav ul li.active a{
    background-color: black;
    color: white;
} 

main{
    padding: 0 2%;
    min-height: 20rem;
} 

.wf2 fieldset{
    margin: 2rem 0;
    border: 1px solid black;
    border-radius: 6px;
    padding: .5rem 2%;
}

.wf2 legend
{
    color:rgb(159, 63, 111);
    padding: 5rem;
}

.wf2 label{
    display: block;
    padding-top: 1rem;
    color: black;
    font-size: .9rem;
} 

.wf2 div{
    padding-top: 1rem;
    color: deepskyblue;
    font-size: .9rem;
}

.wf2 input [type="text"],
.wf2 input [type="tel"],
.wf2 input [type="email"],
.wf2 input [type="url"],
.wf2 input [type="date"],
.wf2 select,
.wf2 input [type="number"]


{
    background-color:lightgray;
    display: block;
    border: solid 1px gray;
    border-radius: 6px;
    color: rgb(92, 87, 87);
    width: 100%;
    max-width: 400px;
    appearance: none;
}
.wf2 input[type="radio"],
.wf2 input[type="checkbox"]{
    margin-right: 6px;
}

.wf2 input[type= "submit"]{
    border: none;
    background-image: linear-gradient(#216dba, #f270a4);
    color: white;
    border-radius: 6px;
    padding: .8rem;
    width: 96%;
    max-width: 400px;
    margin: 1rem 2% 2rem 2%;
    box-shadow: 1px 1px 4px #999;
} 

.wf2 input:required{
    border-bottom: solid 8px rgb(218, 70, 144);
}
.wf2 input:valid{
    border-bottom: solid 8px rgb(78, 144, 215);
}


footer {
    background-color: #ed6290;
    padding: .5rem 2%;
    text-align: center;
}


.container{
    display: flex;
} 

.form-container{
    flex: 3;
}

.benefits-container{
    flex: 1;
    margin-left: 20px;
} 

.benefits{
    list-style-type: none;
    padding: 0;
}

.benefits li{
    margin-bottom: 20px;
}

/*-------------- Directory --------------------*/
 
#directory{
    text-align: center;
}

#content{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:4px;
    text-align: center;
    margin:0px;
    padding: 0px;

}
  
#content h1{
    grid-area: 1/1/2/-1;
}
    
#content #layout{
    grid-area: 2/1/3/-1;
}

#content p{
    margin: 0.2rem;
}

#content button{
    padding: 0.5rem;
}

.memberCard{
    margin: 1rem;
    border: 3px solid black;
    padding: 2rem;
    border-radius: 24px;
    background-color: lightgrey;
    box-shadow: 0px 0px 10px rgba(182,181,181,0.865);
}

.memberCard img{
    margin-bottom: 1rem;
}

#content.list{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    text-align: left;
}

#content.list div{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    margin: 0;
    padding: 0.25rem;
    margin-bottom: 0.5rem;
}

#content.list > *{
    margin: 0 1rem;
}

#content.list div img{
    display: none;/*smaller viewports only*/
    width: 100%;
    height: auto;
}

#content.list div:nth-child(even){
    background-color: aqua;
}

#chamber-members{
    color:#999;
}

.visually-hidden{
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow:hidden;
    white-space: nowrap;
} 

/*---------Styles for large view---------*/
#content.grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    padding: 30px;
} 

/*-------Styles for medium view*/
@media screen and (max-width:1524px) {
    #content.grid{
        display:block;
    }
} 
/*---------Styles for small and smaller view*/
@media screen and (max-width:568px){
    #content.grid{
        display: block;
    }
}  


/*------BANNER--------------*/
.banner{
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color:#ed6290;
    padding: 10px;
    text-align: center;

} 

.close-btn{
    float: right;
    cursor: pointer;
    color:#555;
} 

.close-btn:hover{
    color: #000;
}