*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
    font-weight: 400;    
    height: 100vh;
    display: block;
    background-color:hotpink;
    place-items: center;
    justify-content: center;
    font-family:'Roboto', sans-serif;
    margin: 0;
    padding: 0;
} 

/* mobile */
header {
    display: flex;
    background-image: linear-gradient(hotpink,white);
    padding: 30px;
    text-align: center;
    font-size: 35px;
    
}


header
main {
	margin: 0 auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1rem;
    width: 760px;
    background-color: rgba(255,255,255,0.2);
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}

picture:nth-child(2) img{
    width: 300px;
    height: 300px;
} 

p{
    grid-column: 1/3;
    word-break: keep-all;
    margin: 1rem;
    
} 

picture:nth-child(5) img{
    width: auto;
    height: 200px;
    object-fit: cover;
}


h1{
    text-align: left;
    font-family: times;
    font-size: 1.5rem;
    margin-left: 1rem;
} 

 
.label{
    font-family: Arial, sans-serif;
    font-weight: 700;
    margin:0;
    position: absolute;
    top: 90%;
    left: 10px;
    margin-left: 40px;
    background: radial-gradient(#e6f5e4, pink);
    border: 1px solid black;
    padding: 1.5rem;
    box-shadow: 0 0 3rem lightgray;
    opacity: 0.85;
} 


nav{
    max-width: 700px;
    margin: 1rem auto;
} 

nav{
    background-color:rgb(198, 50, 236);
    margin: auto;
    max-width: 800px;
} 

nav ul {
    list-style-type: none; 
    color:black;
} 

nav a {
    display: block;
    color: lightgray;
    text-align: center;
    padding: .5rem;
    text-decoration: none;
}  



nav a:hover{
    background-color: pink;
    border: 1px solid  black;
}



nav .active{
    background-color: rgb(188, 61, 128);
}  


.parent{
    margin: 1rem 2vw;
} 

.parent section{
    border:1px solid black;
    background-color:lightpink;
    border-radius: 10px;
    overflow: hidden;
    margin:1rem 0;
} 

.parent span{
    background-color: lightgray;
    color:rgb(142, 125, 125);
    display: block;
    text-align: center;
    padding: 0.75em 0;
} 

.parent p{
    padding: 10px;
} 


.hero{
    position: relative; 
    
} 

.hero img{
    width: 100%;
    height: auto;
    display: block;
    padding: 2rem;
} 

.hero picture{
    width: 100%;
} 

.herolabel{
    position: absolute;
    top: 90%;
    left: 10px;
    margin-left:40PX;
    background: radial-gradient(#fff, pink);
    border: 1px solid rgba(0,0,0,.75);
    padding: 1.5rem;
    box-shadow: 0 0 3rem #fff;
    opacity: 0.85;
} 

.herolabel p{
    margin: 0;
    padding: .25rem;
    font-weight: 700;
    font-size: 1.5rem;
    font-family:"Great Vibes", seif ;
    color: #4499ef;
} 

.hero span{
    position: absolute;
    top: 50%;
    left: 30%;
   width: 30%;
    background-color: rgba(225,225,225, 0.5);
    padding: 1rem; 
    text-align: center;
}


footer{
    background-color: deeppink;
    color:black;
    text-align: center;

}

/*--------- HAMBURGER MENU---------*/
#menu{
    display: block;
    font-size: 2rem;
    font-weight:700;
    text-decoration: none;
    padding: .5rem .75rem; 
    background-color: #bed;
    color: black;
}

#button::before {
	content: "\2630";
}

nav{
    background-color:lightgray;
}

.nav{
    list-style: none;
    margin: 0 auto;
    max-width: 760px;
} 

.nav li{
    display: none;
} 

.nav a{
    display: block;
    padding: 0.75rem;
    text-align: left;
    text-decoration: none;
    color: lightgray;
    font-weight: 700;
    transition: 0.5s;
    font-size: clamp(1rem, 2vmin, 1.5rem);
}  

.nav a:hover, .navigation a:active{
    color: pink;
    background-color: lightgray;
}

.show li{
    display: block;
}
 


#button{
    font-size: 2rem;
    background: none;
    border: none;
    color: black;
    cursor: pointer;
    width: 44px;
    text-align: right;
    padding: .25rem 2vw; 
    position: absolute;
    top: 0; 
    right: 2vw;
}

ul.menuLinks li a{
    border: none;
    display: block;
    padding: .75rem 2vw;
    color:aqua;
    text-decoration: none;
} 

li.current-menu-item a{
    background-color: rgba(0, 0, 0, 0.2);
}

ul.menuLinks{
    display: none;
    list-style-type: none;
}

#button.open::before{
     content: "X";
}

ul.open.menuLinks{
    display: block;
}






/* -- DARK MODE*/ 

#darkmode{
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 3rem;
    cursor: pointer;
    font-size: 2rem;
}
/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.card{
    border: 1px solid #5d6f67;
    background-color: #f6f0da;
    border-radius: 10px;
    text-align: center;
}

.card h2{
    color:#3a5250;
    margin: .3rem 0;
}
 
.card #description{
    text-transform: capitalize;
    color: #3a5250;
    margin: .3rem 0;
} 

.card #temperature{
    font-size: 2rem;
    color: lightpink;
    margin: .3rem 0;
}