@media only screen and (min-width: 37rem) {

    .hero span{
        font-size: 2rem;
    }

    .parent {
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 10px;
    }

    .parent section{
        box-shadow: 1px 1px 10px black;
    }

    @media (min-width: 640px) {
        nav ul {
            display: flex;   
            
        } 

        nav ul li{
            flex: 1 1 100%;
        }
    }
   #button{
      display: none;
    
   }
     
   ul.menuLinks, ul.menuLinks.open{
      display: flex;
      justify-content: flex-end;
   }

	ul.menuLinks a:hover{
        color:aqua;
    }

  
 /*end media query*/ 
   

   /* -- DARK MODE*/

}