@media only screen and (min-width: 37rem) {

    .parent {
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 10px;
    }

    .parent section{
        box-shadow: 1px 1px 10px black;
    }

    @media (min-width: 640px) {
        nav ul {
            display: flex;    
        } 

        nav ul li{
            flex: 1 1 100%;
        }
    }

   /*--------------- Hambuger menu*/
   /* large view navigation ************************************/
@media (min-width: 37.5em) {
	h1 {
		font-size: 2.5rem;
		margin-left: 0;
		text-align: center;
	}
	
	h2 {
		font-size: 2rem;
		text-align: center;
	}

	#menu {
		display: none; /* hide hamburger button */
	}

	.navigation {
		flex-direction: row;
	}

	.navigation a {
		display: block;
		flex: 1 1 100%;
	}
	
	.stuff {
		margin: 1rem auto;
	}
}


}